<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css">
</head>
<body class="mdui-theme-accent-mdui-color-teal-a400">
    <div class="container">
        <header>
            <h1>AddmusicK 1.0.X SPC Disassembler</h1>
        </header>
        <section class="error" id="error">
            Error:
        </section>
        <section class="upload">
            <form id="main-form">
                <div class="mdui-textfield mdui-textfield-floating-label">
                    <label class="mdui-textfield-label">Song ID</label>
                    <input class="mdui-textfield-input" type="text" pattern="^(10|[1-9])$" value="10" id="range" required>
                    <div class="mdui-textfield-error">Please input a vaild number between 1-10</div>
                    <div class="mdui-textfield-helper">Number is required. Range: 1-10</div>
                </div>
                <label class="mdui-checkbox">
                    <input type="checkbox" id="abs-len">
                    <i class="mdui-checkbox-icon"></i>
                    Always output absolute note length
                </label><br>
                <label class="mdui-checkbox">
                    <input type="checkbox" id="smw-alias" checked>
                    <i class="mdui-checkbox-icon"></i>
                    Use SMW instrument aliases in <code>#instruments</code>
                </label>
                <div class="buttons">
                    <input type="file" id="file-receiver" hidden>
                    <label class="mdui-btn mdui-ripple mdui-color-light-blue-700" for="file-receiver" id="upload-btn">Select SPC</label>
                    <button class="mdui-btn mdui-ripple mdui-color-amber-500" type="submit">Start</button>
                </div>
            </form>
        </section>
        <section class="info">
            <div class="markdown-body">
                <p>You can convert your AddmusicK 1.0.X SPC back into MML and BRR samples.</p>
                <p>Select your SPC file and press Start, then the disassembled result will be downloaded automatically from your browser.</p>
                <p><b>Only AddmusicK 1.0.X SPC is supported.</b> For AddMusic 4.05/M/etc SPC, use <a href="https://drive.google.com/drive/folders/0B6s5ZRAO2QlAS1RuSzRubm13OWM" target="_blank">NintSPC</a>.</p>
                <h2>Important Notice</h2>
                <p>This tool is purely frontend-based, which won't upload any data into our server. You 
                    can get source code <a href="https://gitlab.com/tcdw/disamk" target="_blank">here</a>.</p>
                <h2>Open Source libraries used in this project</h2>
                <ul>
                    <li><a href="https://www.mdui.org/" target="_blank">MDUI</a> - A lightweight web user interface library</li>
                    <li><a href="https://www.mdui.org/" target="_blank">JSZip</a> - For creating, reading and editing .zip files</li>
                    <li><a href="https://github.com/feross/buffer" target="_blank">buffer</a> - The buffer module from <a href="https://nodejs.org" target="_blank">node.js</a>, for the browser</li>
                </ul>
            </div>
        </section>
    </div>
    <footer>
        &copy; <%= new Date().getFullYear() %> tcdw
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jszip@3.5.0/dist/jszip.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
</body>
</html>